/* Reset des styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Styles de base pour la lumière */
body {
    background-color: #f0f0f0; /* Fond plus clair pour le mode jour */
    color: #000; /* Texte noir pour le mode jour */
    font-family: 'Arial', sans-serif;
}

/* Gestion des thèmes sombres pour le corps et les sections */
.dark-mode,
.dark-mode section {
    background-color: #282828; /* Fond sombre pour le mode nuit */
    color: #fff; /* Texte blanc pour le mode nuit */
}

/* Styles pour les liens */
/* Styles pour les liens dans le mode clair */
.home-link .link-text {
    color: #8000db; /* Couleur des liens en mode clair */
    text-decoration: none; /* Supprimer le soulignement des liens */
    transition: color 0.3s ease; /* Transition de couleur au survol */
}

/* Styles pour les liens au survol dans le mode clair */
.home-link:hover .link-text {
    color: #6400ab; /* Couleur des liens au survol en mode clair */
}

/* Styles pour les liens dans le mode sombre */
.dark-mode .home-link .link-text {
    color: #8000db; /* Couleur des liens en mode sombre */
}

/* Styles pour les liens au survol dans le mode sombre */
.dark-mode .home-link:hover .link-text {
    color: #6400ab; /* Couleur des liens au survol en mode sombre */
}

/* Agrandissement des images au survol avec une transition douce */
.home-link img {
    width: 120px;
    height: auto;
    transition: transform 0.3s ease;
}

.home-link img:hover {
    transform: scale(1.1); /* Grossit l'image de 10% lors du survol */
}

/* Styles pour les textes simulant des liens sans apparence de lien */
.home-link span {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold; /* Rend le texte en gras */
    color: inherit; /* Assure que la couleur du texte s'adapte au thème */
    transition: color 0.2s; /* Transition douce pour le changement de couleur */
    text-decoration: none; /* Aucun soulignement par défaut */
    cursor: pointer; /* Change le curseur pour indiquer un lien */
}

/* Changement de couleur au survol pour simuler un lien, avec soulignement temporaire */
.home-link span:hover {
    color: #6400ab; /* Texte devient bleu lors du survol */
}

/* Conteneur de liens */
.links-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

/* Styles de navigation */
nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav li {
    list-style: none;
}

/* Bouton pour changer de thème */
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #555;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Styles de l'en-tête */
header {
    background-color: #363636;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2em;
}

nav ul {
    margin-top: 20px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #6400ab;
}

/* Styles des sections */
section {
    background-color: whitesmoke;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section-link {
    display: flex;
    align-items: center;
}

.section-link a {
    text-decoration: none; /* Supprimer le soulignement du lien */
    color: #343a40; /* Couleur du texte */
    font-weight: bold; /* Texte en gras */
    font-size: 1.5em; /* Taille de la police */
    transition: color 0.3s ease; /* Transition de couleur au survol */
}

.section-link a:hover {
    color: #6400ab; /* Couleur du texte au survol */
}

.section-content {
    display: flex;
    flex-direction: row; /* Disposition en ligne */
}

.text {
    flex: 1; /* Prend autant d'espace que possible */
}

.image {
    flex: 1; /* Prend autant d'espace que possible */
    text-align: right; /* Aligne l'image à droite */
}

.section-image {
    max-width: 100%; /* Limite la largeur de l'image à 100% de son conteneur */
    height: auto; /* Garantit que l'image conserve ses proportions */
}

#projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes égales */
    gap: 20px; /* Espacement entre les éléments */
    padding: 20px; /* Ajouter de l'espace autour de la grille */
}

#projects-title {
    grid-column: 1 / -1; /* Le titre s'étend sur toutes les colonnes */
    text-align: center; /* Centrer le titre */
    font-size: 2.5em; /* Taille de police plus grande */
    margin-bottom: 30px; /* Espacement en bas */
}

.project {
    border: 2px solid #9e9e9e;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.project-info {
    grid-column: 1 / 2; /* Le titre et le contenu occupent la première colonne */
}

.project-content {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row-reverse; /* Inverser la disposition des éléments */
    align-items: center; /* Centrer verticalement les éléments */
}

.project-image {
    max-width: 100px; /* Taille maximale de l'image */
    height: auto; /* Garantit que l'image conserve ses proportions */
    border-radius: 8px; /* Ajoute un arrondi aux coins */
    align-self: center; /* Aligner l'image verticalement au centre */
    justify-self: end; /* Aligner l'image à droite */
}

.project h3{
    font-size: x-large;
    margin-bottom: 15px;
}

section h2 {
    display: block;
    font-size: 2em;
    margin-bottom: 20px;
    color: #343a40;
    text-align: center;
}

section p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #4c5156;
}

footer {
    background-color: #363636;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.logo {
    max-width: 100px;
    height: auto;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

/* Correction des couleurs de texte pour les liens simulés selon le thème */
.home-link span {
    transition: color 0.2s; /* Transition douce pour le changement de couleur */
}

/* Styles par défaut (mode clair) */
.home-link span {
    color: #363636; /* Gris foncé pour le texte normal */
}

/* Styles pour le mode sombre */
.dark-mode .home-link span {
    color: #fff; /* Texte blanc en mode nuit */
}

/* Suppression du soulignement au survol pour tous les liens */
a:hover {
    text-decoration: none; /* Retire le soulignement des liens au survol */
    color: #6400ab; /* Garde la couleur bleue pour indiquer interactivité */
}

/* Styles spécifiques pour les liens de navigation pour ne pas affecter les autres liens */
nav ul li a {
    color: #fff; /* Maintient les liens de la navigation en blanc */
    text-decoration: none; /* Retire le soulignement */
}

nav ul li a:hover {
    color: #6400ab; /* Bleu clair au survol pour les liens de navigation */
}


h1, h2, h3, h4, h5, h6 {
    transition: color 0.2s; /* Transition douce pour le changement de couleur */
}

h1{
    color: #363636;
}

/* Styles par défaut (mode clair) */
h2, h3, h4, h5, h6 {
    padding: 20px;
    color: #363636; /* Gris foncé pour le texte normal en mode clair */
}

/* Styles pour le mode sombre */
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6 {
    color: #fff; /* Texte blanc en mode nuit */
}
p {
    transition: color 0.2s; /* Transition douce pour le changement de couleur */
}

/* Styles par défaut pour les paragraphes (mode clair) */
body:not(.dark-mode) p {
    color: #363636; /* Gris foncé pour le texte normal en mode clair */
}

/* Styles pour les paragraphes en mode sombre, sauf dans le header et footer */
.dark-mode :not(header) p,
.dark-mode :not(footer) p {
    color: #fff; /* Texte blanc en mode nuit */
}

/* Aligner les textes et les liens au centre */
.home-link {
    text-align: center;
}

/* Supprimer le soulignement des liens */
.home-link a {
    text-decoration: none;
}

/* Styles pour les liens en mode sombre */
.dark-mode .home-link a {
    color: #fff; /* Texte blanc en mode nuit */
}

/* Changement de couleur au survol pour les liens en mode sombre */
.dark-mode .home-link a:hover {
    color: #6400ab; /* Bleu clair au survol en mode sombre */
}

.project-skills {
    margin-top: 10px;
    margin-bottom: 20px;
}

.project-skills h4 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.1em;
}

.project-skills ul {
    list-style-type: disc;
    padding: 0;
    margin-left: 20px;
}

.project-skills li {
    margin-bottom: 3px;
    color: #363636;
}

/* Styles spécifiques pour la section des compétences en mode sombre */
.dark-mode .project-skills {
    color: #fff; /* Texte blanc pour la section des compétences en mode sombre */
}

.dark-mode .project-skills h4 {
    color: #fff; /* Titre blanc pour la section des compétences en mode sombre */
}

.dark-mode .project-skills ul {
    color: #fff; /* Texte blanc pour la liste des compétences en mode sombre */
}

.dark-mode .project-skills ul li {
    color: #fff; /* Texte blanc pour chaque élément de la liste des compétences en mode sombre */
}


/* Styles pour les bandeaux alternés */
.contact-section:nth-child(even) {
    background-color: #f8f8f0; /* Fond clair pour les sections paires en mode jour */
}

.contact-section:nth-child(odd) {
    background-color: #f0f0f0; /* Fond clair pour les sections impaires en mode jour */
}

.dark-mode .contact-section:nth-child(even) {
    background-color: #363636; /* Fond sombre pour les sections paires en mode nuit */
    color: #fff; /* Texte blanc pour la section de contact en mode nuit */
}

.dark-mode .contact-section:nth-child(odd) {
    background-color: #282828; /* Fond sombre pour les sections impaires en mode nuit */
    color: #fff; /* Texte blanc pour la section de contact en mode nuit */
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section {
    width: 100%;
    display: flex;
    justify-content: center; /* Centrer horizontalement les éléments de la section */
    align-items: center; /* Centrer verticalement les éléments de la section */
    flex-direction: column; /* Mettre les éléments en colonne */
}

.contact-content {
    display: flex;
    flex-direction: column; /* Mettre les éléments en colonne */
    align-items: center; /* Centrer horizontalement les éléments à l'intérieur */
    max-width: 800px;
    margin-bottom: 20px;
}

.contact-text {
    text-align: center; /* Centrer le texte horizontalement */
    margin-bottom: 20px; /* Ajouter un espacement entre le texte et l'image */
}

.contact-image img {
    width: 150px; /* Définir la taille des images */
    height: auto; /* Garder les proportions */
    transition: transform 0.3s ease; /* Ajouter une transition pour un effet fluide */
}

.contact-image img:hover {
    transform: scale(1.1); /* Grossir l'image de 10% lors du survol */
}

.contact-text h2 {
    margin-bottom: 10px; /* Ajout de cet espacement sous le titre */
}

.contact a {
    text-decoration: none;
    color: #6400ab;
}

/* Styles pour la section des certifications */
#certifications {
    width: 100%;
    text-align: center; /* Centrer le contenu horizontalement */
}

#certifications h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.certification {
    display: flex;
    justify-content: center;
    align-items: center;
}

.certification:nth-child(even) {
    background-color: #f8f8f0; /* Fond clair pour les certifications paires */
}

.certification:nth-child(odd) {
    background-color: #f0f0f0; /* Fond clair pour les certifications impaires */
}

.certification-banner {
    flex: 1;
}

.certification-banner img {
    width: 100px;
    height: auto;
    margin-bottom: 15px;
    transition: transform 0.3s ease; /* Transition pour l'effet de zoom au survol */
}

.certification-banner img:hover {
    transform: scale(1.1); /* Grossissement de l'image au survol */
}

.certification-info {
    flex: 1;
    text-align: left;
    padding: 20px;
}

.certification-info h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.certification-info p {
    margin-bottom: 5px;
}

.certification-info a {
    color: #6400ab; /* Couleur du lien */
    text-decoration: none; /* Supprimer le soulignement du lien */
    transition: color 0.3s ease; /* Transition de couleur au survol */
}

.certification-info a:hover {
    color: #4a027e; /* Couleur du lien au survol */
}

/* Styles spécifiques pour le mode sombre */
.dark-mode #certifications {
    background-color: #282828; /* Fond sombre pour la section des certifications */
    color: #fff; /* Texte blanc en mode sombre */
}

.dark-mode .certification:nth-child(even) {
    background-color: #363636; /* Fond sombre pour les certifications paires en mode sombre */
}

.dark-mode .certification:nth-child(odd) {
    background-color: #2d2d2d; /* Fond sombre pour les certifications impaires en mode sombre */
}

.dark-mode .certification-info a {
    color: #8000db; /* Couleur du lien en mode sombre */
}

.dark-mode .certification-info a:hover {
    color: #6d00ba; /* Couleur du lien au survol en mode sombre */
}

/* Styles pour les liens */
a {
    color: #8000db; /* Couleur des liens */
    text-decoration: none; /* Supprimer le soulignement des liens */
    transition: color 0.3s ease; /* Transition de couleur au survol */
}

/* Styles pour les liens au survol */
a:hover {
    color: #6400ab; /* Couleur des liens au survol */
}

/* Styles pour la section des certifications */
#presentation {
    width: 100%;
    text-align: center; /* Centrer le contenu horizontalement */
}

#presentation h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentation:nth-child(even) {
    background-color: #f8f8f0; /* Fond clair pour les certifications paires */
}

.presentation:nth-child(odd) {
    background-color: #f0f0f0; /* Fond clair pour les certifications impaires */
}

.presentation-banner {
    flex: 1;
}

.presentation-banner img {
    width: 120px;
    height: auto;
    margin-bottom: 15px;
    transition: transform 0.3s ease; /* Transition pour l'effet de zoom au survol */
}

.presentation-banner img:hover {
    transform: scale(1.1); /* Grossissement de l'image au survol */
}

.presentation-info {
    flex: 1;
    text-align: left;
    padding: 20px;
}

.presentation-info h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.presentation-info p {
    margin-bottom: 5px;
}

.presentation-info a {
    color: #6400ab; /* Couleur du lien */
    text-decoration: none; /* Supprimer le soulignement du lien */
    transition: color 0.3s ease; /* Transition de couleur au survol */
}

.presentation-info a:hover {
    color: #4a027e; /* Couleur du lien au survol */
}

/* Styles spécifiques pour le mode sombre */
.dark-mode #presentation {
    background-color: #282828; /* Fond sombre pour la section des certifications */
    color: #fff; /* Texte blanc en mode sombre */
}

.dark-mode .presentation:nth-child(even) {
    background-color: #363636; /* Fond sombre pour les certifications paires en mode sombre */
}

.dark-mode .presentation:nth-child(odd) {
    background-color: #2d2d2d; /* Fond sombre pour les certifications impaires en mode sombre */
}

.dark-mode .presentation-info a {
    color: #8000db; /* Couleur du lien en mode sombre */
}

.dark-mode .presentation-info a:hover {
    color: #6d00ba; /* Couleur du lien au survol en mode sombre */
}
